{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}

<div class="sidebar">
  <div class="d-grid gap-2 col-10 mx-auto mt-3">
    <form action="{{ url_for('save_tasks') }}" method="post">
      <button type="submit" class="btn btn-primary">Save Tasks</button>
    </form>
    <form action="{{ url_for('load_tasks') }}" method="post">
      <button type="submit" class="btn btn-primary">Load Tasks</button>
    </form>
    <a href="{{ url_for('add_task') }}" class="btn btn-primary">Add New Task</a>
  </div>
</div>

<div class="container">
  <h1>Tasks</h1>
  {% if tasks == [] %}
  <p>No tasks found.</p>
  {% else %}
  <div class="col">
    {% for task in tasks %}
    <div class="card mb-3" style="width: 50rem">
      <div class="card-header">{{ task.title }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ task.description }}</h5>
        <p class="card-text">
          Due: {{ task.due_date }}<br />
          Status: {{ task.status }}<br />
        </p>
        <a
          href="{{ url_for('update_task', task_id=loop.index0) }}"
          class="btn btn-primary"
          >Update</a
        >
        <form
          action="{{ url_for('delete_task', task_id=loop.index0) }}"
          method="post"
          style="display: inline"
        >
          <button class="btn btn-primary" type="submit">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
