{% extends "base.html" %} 
{% block title %}Home Page{% endblock %} 
{% block content %}
    <h1>Update Task</h1>
    <form action="" method="post">
        Title: <input type="text" name="title" value="{{ task.title }}"><br>
        Description: <textarea name="description">{{ task.description }}</textarea><br>
        Due Date: <input type="date" name="due_date" value="{{ task.due_date }}"><br>
        Status: <input type="text" name="status" value="{{ task.status }}"><br>
        <button type="submit">Update Task</button>
    </form>
{% endblock %}